:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}
.light-box {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.traffic-light--container {
  display: inline-block;
  background-color: black;
  padding: 20px;
}
